@model IEnumerable<BugTracker.Models.Developer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var developer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => developer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => developer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => developer.Projects)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = developer.Id }) |
                @Html.ActionLink("Details", "Details", new { id = developer.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = developer.Id })
            </td>
        </tr>
    }


</table>
@foreach (var developer in Model)
{
    <h1>@developer.Projects.ToList()</h1>
}